<p>comments-list works!</p>
<div>jjj{{post.idpublication}}</div>


 
  
    <div
      class="card"
      style="width: 35rem; margin-left: 400px;"
      *ngIf="post && post.pictures"> 
       <div style="margin-bottom: 0px; display: flex; margin-top: 20px; flex-direction: row;flex-wrap: wrap; margin-left: 20px;"> <img
      [src]="'/assets/pictures/' +post?.pictures?.url?.split('\\')?.pop()?.split('/')?.pop()"
      class="card-img-top"
      alt=""
      style="width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover; margin-bottom: 10px;"/>  <h1 style="padding-left: 10px ;margin-top: 15px;">{{post?.user?.nameUser}}</h1>  
   
    
 
     </div>
      <img
        [src]="'/assets/pictures/' +post?.pictures?.url?.split('\\')?.pop()?.split('/')?.pop()"
        class="card-img-top"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">{{ post.location}}</h5>
        <p class="card-text">
          {{post.content}}
        </p>
  </div>
         

          

